## Data Cleaning analysis process for Beginners

## 1. Dataset & ObjectiveÂ¶

- Data Cleaning for Analysis

- we are making uses of download dataset from kaggle data title PS4_GamesSales 1 2.csv

In [15]:
# Import Required library
import pandas as pd

In [16]:
df = pd.read_csv('/Users/user/Desktop/PS4_GamesSales 1 2.csv',encoding ='cp1252')

In [17]:
# Display Top 5 row of the dataset
df.head(5)

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [18]:
# Display last 5 row of the dataset
df.head(5)

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [19]:
# find the shape of our data (Number of Rows and Columns)
df.shape

(1034, 9)

In [20]:
# Check null value in the data set
df.isnull().sum()

Game               0
Year             209
Genre              0
Publisher        209
North America      0
Europe             0
Japan              0
Rest of World      0
Global             0
dtype: int64

In [21]:
# Check for missing value i.e boolean
df.isna().any()

Game             False
Year              True
Genre            False
Publisher         True
North America    False
Europe           False
Japan            False
Rest of World    False
Global           False
dtype: bool

In [22]:
# Drop missing value if is any in our data.
df.dropna(inplace=True)

In [23]:
## let confirm if we have drop the missing record (Yes we have drop it)
df.isna().any()

Game             False
Year             False
Genre            False
Publisher        False
North America    False
Europe           False
Japan            False
Rest of World    False
Global           False
dtype: bool

In [24]:
# To confirm if they is any duplicate
df.duplicated().any()

False

In [25]:
df.shape

(825, 9)

In [26]:
print('Number of Row',df.shape[0])
print('Number of Columns',df.shape[1])

Number of Row 825
Number of Columns 9

In [27]:
# Get Information about the dataset like total number of rows, columns,datatypes of each column & memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 825 entries, 0 to 1030
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           825 non-null    object
 1   Year           825 non-null    float64
 2   Genre          825 non-null    object
 3   Publisher      825 non-null    object
 4   North America  825 non-null    float64
 5   Europe         825 non-null    float64
 6   Japan          825 non-null    float64
 7   Rest of World  825 non-null    float64
 8   Global         825 non-null    float64
dtypes: float64(6), object(3)
memory usage: 64.5+ KB

In [28]:
# Checking of columns names
df.columns

Index(['Game', 'Year', 'Genre', 'Publisher', 'North America', 'Europe',
       'Japan', 'Rest of World', 'Global'],
      dtype='object')

In [29]:
df.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80